.top {
  margin: 10vh;
}
.wellcome {
  color: #3f51b5;
  text-align: center;
}
.img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  /* max-width: 100vw;
  max-height: 80vh; */
}
.img1 {
  width: 50%;
  float: right;
}
